<div class="row">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ship of shipsObservable | async">
                    <td>{{ ship.name }}</td>
                    <td>{{ ship.country }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>