i {
  border-radius: 50%;
}

.card {
  margin-bottom: 15px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.15);
}

.card-body-container {
  padding: 5px;
}

.card-container {
  margin-top: -10px;
  margin-left: 30px;
  width: fit-content;
  font-size: small;
}

.card-text-container {
  font-size: small;
  color: gray;
  font-style: italic;
  padding-left: 15px;
}
